h2 {
    text-align: center;
}

button {
    justify-content: center;
    padding: 10px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

main > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main > div > * {
    margin: 5px;
}

main > div > span {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}


main > div > span > select {
    position: absolute;
    width: 100%;
    opacity: 0;
    z-index: -1;
    top: 20px;
}

select.show {
    z-index: 1;
    opacity: 1;
}

main > span {
    display: flex;
    flex-grow: 1;
    padding: 10px 0px;
}

main > span > * {
    display: flex;
    flex-grow: 1;
}

main > div > span > input {
    display: flex;
    flex-grow: 1;
}

ul {
    list-style: none;
}

li {
    margin: 5px;
    padding: 0px 20px;
    background-color: gainsboro;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

li > * {
    display: flex;
    width: calc(80% / 2);
}

li > *:first-child {
    display: flex;
    width: 20%;
}

li > *:last-child {
    display: flex;
    width: 1.5em;
    height: 1.5em;
    line-height: 0;
    text-align: center;
    align-self: center;
}